.wyb-1 {
  font-size: 19px;
}

.wyb-2 {
  font-size: 28px;
}

.wyb-3 {
  font-size: 37px;
}

::-webkit-scrollbar {
  width: 0px;
}

body {
  background-color: black;
  color: wheat;
}

.container {
  height: 100vh;
  width: 100vw;
  font-size: 1.5em;
  min-height: 300px;
  width: 100%;
  background-image: url(./tlo.JPG);
  background-repeat: no-repeat;
  background-size: cover;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1fr;
      grid-template-columns: auto 1fr;
  -ms-grid-rows: auto 1fr auto;
      grid-template-rows: auto 1fr auto;
  grid-gap: 10px;
      grid-template-areas: "header header" "naw art" "naw footer";
  opacity: .9;
  border: none;
  z-index: 10;
}

.hed {
  background: black;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: header;
  height: 20vh;
  border-radius: 8%;
  opacity: 0.4;
  width: 80%;
  margin: auto;
  margin-top: 20px;
  border: 2px solid white;
}

.hed h2 {
  margin-left: 18%;
  color: brown;
}

.nav {
  background: white;
  width: 16vw;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: naw;
  border-radius: 8%;
  opacity: 0.4;
  margin-left: 20px;
  font-size: x-large;
  font-family: 'Courier New', Courier, monospace;
  border: 2px solid black;
}

.art {
  background: black;
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: art;
  border-radius: 8%;
  opacity: .86;
  z-index: 15;
  border: 2px solid white;
}

.fot {
  background: white;
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: footer;
  border-radius: 8%;
  opacity: 0.4;
  margin-right: 5px;
  color: purple;
  font-style: italic;
  font-size: large;
  text-align: center;
  border: 1px solid white;
}

#par1 {
  background-image: url(./arg.JPG);
  background-repeat: no-repeat;
  background-size: cover;
  margin: auto;
  width: 58vw;
  height: 40vh;
  opacity: 1;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-name: pok;
          animation-name: pok;
  border-radius: 8%;
  z-index: 30;
  text-align: center;
  overflow-y: scroll;
  font-size: x-large;
  font-family: 'Courier New', Courier, monospace;
  border: 1px solid white;
}

#par1 p {
  color: brown;
  font-weight: bold;
}

#par1 h3 {
  margin-top: 8%;
  color: brown;
  font-weight: bolder;
}

#par2 {
  background-image: url(./brz.JPG);
  background-repeat: no-repeat;
  background-size: cover;
  margin: auto;
  width: 58vw;
  height: 40vh;
  opacity: 1;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-name: pok;
          animation-name: pok;
  border-radius: 8%;
  z-index: 30;
  text-align: center;
  overflow-y: scroll;
  font-size: x-large;
  font-family: 'Courier New', Courier, monospace;
  border: 1px solid white;
}

#par2 p {
  color: brown;
  font-weight: bold;
}

#par2 h3 {
  margin-top: 8%;
  color: brown;
  font-weight: bolder;
}

#par3 {
  background-image: url(./chi.JPG);
  background-repeat: no-repeat;
  background-size: cover;
  margin: auto;
  width: 58vw;
  height: 40vh;
  opacity: 1;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-name: pok;
          animation-name: pok;
  border-radius: 8%;
  z-index: 30;
  text-align: center;
  overflow-y: scroll;
  font-size: x-large;
  font-family: 'Courier New', Courier, monospace;
  border: 1px solid white;
}

#par3 p {
  color: brown;
  font-weight: bold;
}

#par3 h3 {
  margin-top: 8%;
  color: brown;
  font-weight: bolder;
}

.hide {
  display: none;
}

li {
  cursor: pointer;
  margin-top: 75px;
  display: block;
  color: purple;
  font-weight: bold;
}

@-webkit-keyframes pok {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes pok {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

h1 {
  margin-left: 40%;
}

li:hover {
  color: brown;
}
/*# sourceMappingURL=style.css.map */